body {
    background-color: rgb(147, 253, 253);
    color: blue;
    text-align: center;
}
.grid {
    background-color: black;
    width: 900px;
    height: 720px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    /* padding: 20px; */
    /* position: relative; */
    z-index: 5;
    /* top: 50%;
    left: 50%; */
  }
  
  .grid div {
    width: 18px;
    height: 18px;
    /* border:0.1px whitesmoke solid; */
    box-sizing:border-box;
  }

  /* #play-game {
      text-align: center
  }
   */

 

  #food {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
  }

  #obstacle {
    background-color: red;
    outline: 1px white;
  }

  #border {
    background-color: green;
  }

  #dot {
    height: 5px;
    width: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    box-shadow:
    0 0 20px 3px #fff,  /* inner white */
    0 0 20px 6px #f0f, /* middle magenta */
    0 0 10px 9px #0ff; /*outer cyan */
    z-index: 99 !important;

  }

  .main-page {
    background-color: white;
    border: 1px solid red;
    padding: 100px;
    text-align: center;
  }

  .instructions-1 {
    background-color: yellow;
    border: 1px solid red;
    padding: 0 20px 0 0;
    /* text-align: center; */
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul{
    text-align: center;
    list-style-position: inside;
  }

.game-1 {
  text-align: center;
  background-color: white;
  border: 1px solid red;
  padding: 100px 100px 100px 100px;
  position: relative;
}

  .result-1 {
    width: 50px;
    height: 50px;
    background-color: green;
    border: 1px solid red;
    /* padding: 500px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    /* justify-content: center; */
    /* position: static; */
    /* z-index: 99 !important; */

  }