body {
    background-color: rgb(147, 253, 253);
    color: white;
}
.grid {
    background-color: black;
    width: 900px;
    height: 720px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    padding: 20px;
    
  }
  
  .grid div {
    width: 18px;
    height: 18px;
    /* border:0.1px whitesmoke solid; */
    box-sizing:border-box
  }

  /* #play-game {
      text-align: center
  }
   */

   #dot {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    /* box-shadow:
    0 0 20px 3px #fff,  /* inner white */
    0 0 20px 6px #f0f, /* middle magenta */
    0 0 10px 9px #0ff; /*outer cyan */*/
  }

  #food {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
  }

  #obstacle {
    background-color: red;
    outline: 1px white;
  }