body {
    /* background-image: url("https://wallpaperaccess.com/full/137925.jpg"); */
    /* height:100%; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(19, 29, 9);
    color: rgb(151, 51, 51);
    /* text-align: center; */
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.grid {
    background-color: black;
    width: 900px;
    height: 720px;
    border: 5px solid whitesmoke;
    border-style: outset;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    /* bord; */
    /* padding: 20px; */
    /* position: relative; */
    z-index: 5;
    /* top: 50%;
    left: 50%; */
    margin-bottom: -40px;
  }
  
  .grid div {
    width: 18px;
    height: 18px;
    /* border:0.1px whitesmoke solid; */
    box-sizing:border-box;
  }

  /* #play-game {
      text-align: center
  }
   */

 

  #food {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
  }

  #obstacle {
    background-color: rgb(151, 51, 51);
    outline: 1px white;
  }

  #border {
    background-color: rgb(19, 29, 9);
    border:rgb(151, 51, 51)
  }

  #dot {
    height: 5px;
    width: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    box-shadow:
    0 0 20px 3px rgb(199, 198, 198),  /* inner white */
    0 0 20px 6px rgb(105, 104, 105), /* middle magenta */
    0 0 10px 9px rgb(8, 8, 8); /*outer cyan */
    z-index: 99 !important;

  }

  #dot2 {
    height: 5px;
    width: 5px;
    text-align: center;
    background-color: rgb(15, 161, 154);
    border-radius: 50%;
    display: inline-block;
    box-shadow:
    0 0 20px 3px rgb(199, 198, 198),  /* inner white */
    0 0 20px 6px rgb(105, 104, 105), /* middle magenta */
    0 0 10px 9px rgb(8, 8, 8); /*outer cyan */
    z-index: 99 !important;
  }

  .main-page {
    /* height: 100%;
    width: 100%; */
    background-color: black;
    /* border: 1px solid red; */
    padding: 20px 300px 30px 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    /* display: block; */
    box-shadow: 0 0 15px 10px #141414;

  }

  #snake-title {
    color: red;
    text-shadow: -10px 1px rgb(151, 51, 51);
  }

  #main-page-sub{
    display: flex;
    justify-content: center;
  }
  /* #snake-body-pic {
    position: absolute;
    top: 0%;
    left: 0%;
  } */

  .heading {
    font-family: "Whomp";
    font-size: 100px;
    margin: 0 0 -9px 0;
    color: red;
    text-shadow: -10px 1px rgb(151, 51, 51);
  }

  .player-btn {
    font-family: "Monster Child";
    font-size: 40px;
    color: white;
    background-color: black;
    padding: -50px 15px -50px 15px;
    border: none;
    margin: 0 100px 0 100px;
    transition: 1.5s ease;
    /* margin-top: 0px;
    margin-bottom: 0px; */
    /* border: 5px solid whitesmoke;
    border-style: outset; */
    
    /* border-radius: 15px; */
  }

  .player-btn:hover {
    color: grey;
    transition: 1s;
    /* transition-timing-function: ease-in-out; */

    /* background: whitesmoke; */
  }

  #snake-pic {
    max-width: 75%;
    max-height: 75%;
  }

  .instructions-1 {
    color: black;
    font-family: "Roboto";
    background-color: #d4d1d1;
    border: 5px solid #f1f1f1;
    padding: 0 20px 10px 0;
    /* padding: 100px;  */
    /* text-align: center; */
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 99;
    border-style: outset;
  }

  .how-to {
    font-family: "Monster Child";
    /* font-size: */
  }

  #go-to-game-1 {
    /* text-align: center; */
    /* padding: 10px 0 0 0; */
    color: black;
    margin-left: 15px; 
    font-family: "Monster Child";
    font-size: 20px;
    background-color: white;
    padding: -50px 15px -50px 15px;
    /* border: none; */
    margin: 0 100px 0 100px;
    transition: 0.5s ease;
    /* border: 5px solide black; */
    border: 5px solid whitesmoke;
    border-style: outset;
  }

  #go-to-game-1:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(77, 77, 77);
    transition: 1s;
    /* transition-timing-function: ease-in-out; */

    /* background: whitesmoke; */
  }

  ul{
    text-align: center;
    list-style-position: inside;
  }

.game-1 {
  text-align: center;
  background-color: rgb(41, 53, 23);
  /* border: 1px solid red; */
  /* padding: 100px 100px 100px 100px; */
  margin: 0 100px 0 100px;
  position: relative;
  border-radius: 15px;
}

  .result-1 {
    border-radius: 15px;
    /* width: 50px;
    height: 50px; */
    padding: 50px 100px 100px 100px; 
    /* padding-top: -50px; */
    background-color: #d4d1d1;
    border: 5px solid #f1f1f1;
    /* padding: 500px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: outset;
    /* display: flex; */
    /* justify-content: center; */
    /* position: static; */
    /* z-index: 99 !important; */
    /* box-shadow: 0 0 15px 10px #141414; */
  }

#reset-button {
    /* text-align: center; */
    /* padding: 10px 0 0 0; */
    /* display: flex;
    align-self: flex-end; */
    color: black;
    margin-left: 15px; 
    font-family: "Monster Child";
    font-size: 40px;
    background-color: white;
    vertical-align: middle;
    /* margin: 10px 0; */
    /* padding: 100px; */
    /* padding: 0 100px 0 70px; */
    /* padding: -50px 15px -50px 15px; */
    /* border: none; */
    /* margin: 0 100px 0 100px; */
    transition: 0.5s ease;
    /* border: 5px solide black; */
    border: 5px solid whitesmoke;
    border-style: outset;
    margin-top: 50px;
  }


  
#reset-button:hover {
  color: whitesmoke;
  background-color: black;
  transition: 1s;
  /* transition-timing-function: ease-in-out; */

  /* background: whitesmoke; */
}

/* #spacebar {
  background: rgb(151, 51, 51);
  color: red;
} */

#play-game {
  margin-top: -50px; 
  color: black;
  margin-left: 15px; 
  font-family: "Monster Child";
  font-size: 20px;
  background-color: white;
  vertical-align: middle;
  /* margin: 10px 0; */
  /* padding: 100px; */
  /* padding: 0 100px 0 70px; */
  /* padding: -50px 15px -50px 15px; */
  /* border: none; */
  /* margin: 0 100px 0 100px; */
  transition: 0.5s ease;
  /* border: 5px solide black; */
  border: 5px solid whitesmoke;
  border-style: outset;
  margin-top: 50px;
}

#play-game:hover {
  color: whitesmoke;
  background-color: black;
  transition: 1s;
  /* transition-timing-function: ease-in-out; */

  /* background: whitesmoke; */
}

#game-title {
  margin-bottom: -30px;
  font-size: 60px;
}

#game-result {
  font-family: "Whomp";
  color: rgb(87, 41, 41);
  text-shadow: -5px 1px rgb(199, 33, 33);
  font-size: 40px;
}






















.instructions-2 {
  color: black;
  font-family: "Roboto";
  background-color: #d4d1d1;
  border: 5px solid #f1f1f1;
  padding: 0 20px 10px 0;
  /* padding: 100px;  */
  /* text-align: center; */
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 99;
  border-style: outset;
}

.how-to-2 {
  font-family: "Monster Child";
  /* font-size: */
}

#go-to-game-2 {
  /* text-align: center; */
  /* padding: 10px 0 0 0; */
  color: black;
  margin-left: 15px; 
  font-family: "Monster Child";
  font-size: 20px;
  background-color: white;
  padding: -50px 15px -50px 15px;
  /* border: none; */
  margin: 0 100px 0 100px;
  transition: 0.5s ease;
  /* border: 5px solide black; */
  border: 5px solid whitesmoke;
  border-style: outset;
}

#go-to-game-2:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(77, 77, 77);
  transition: 1s;
  /* transition-timing-function: ease-in-out; */

  /* background: whitesmoke; */
}


.game-2 {
text-align: center;
background-color: rgb(41, 53, 23);
/* border: 1px solid red; */
/* padding: 100px 100px 100px 100px; */
margin: 0 100px 0 100px;
position: relative;
border-radius: 15px;
}

.result-2 {
  border-radius: 15px;
  /* width: 50px;
  height: 50px; */
  padding: 50px 100px 100px 100px; 
  /* padding-top: -50px; */
  background-color: #d4d1d1;
  border: 5px solid #f1f1f1;
  /* padding: 500px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: outset;
  /* display: flex; */
  /* justify-content: center; */
  /* position: static; */
  /* z-index: 99 !important; */
  /* box-shadow: 0 0 15px 10px #141414; */
}

#reset-button-2 {
  /* text-align: center; */
  /* padding: 10px 0 0 0; */
  /* display: flex;
  align-self: flex-end; */
  color: black;
  margin-left: 15px; 
  font-family: "Monster Child";
  font-size: 40px;
  background-color: white;
  vertical-align: middle;
  /* margin: 10px 0; */
  /* padding: 100px; */
  /* padding: 0 100px 0 70px; */
  /* padding: -50px 15px -50px 15px; */
  /* border: none; */
  /* margin: 0 100px 0 100px; */
  transition: 0.5s ease;
  /* border: 5px solide black; */
  border: 5px solid whitesmoke;
  border-style: outset;
  margin-top: 50px;
}



#reset-button-2:hover {
color: whitesmoke;
background-color: black;
transition: 1s;
/* transition-timing-function: ease-in-out; */

/* background: whitesmoke; */
}

/* #spacebar {
background: rgb(151, 51, 51);
color: red;
} */

#play-game-2 {
  margin-top: -50px; 
  color: black;
  margin-left: 15px; 
  font-family: "Monster Child";
  font-size: 20px;
  background-color: white;
  vertical-align: middle;
  /* margin: 10px 0; */
  /* padding: 100px; */
  /* padding: 0 100px 0 70px; */
  /* padding: -50px 15px -50px 15px; */
  /* border: none; */
  /* margin: 0 100px 0 100px; */
  transition: 0.5s ease;
  /* border: 5px solide black; */
  border: 5px solid whitesmoke;
  border-style: outset;
  margin-top: 50px;
}

#play-game-2:hover {
  color: whitesmoke;
  background-color: black;
  transition: 1s;
  /* transition-timing-function: ease-in-out; */

  /* background: whitesmoke; */
}

#game-title {
  margin-bottom: -30px;
  font-size: 60px;
}

#game-result-2 {
  font-family: "Whomp";
  color: rgb(87, 41, 41);
  text-shadow: -5px 1px rgb(199, 33, 33);
  font-size: 40px;
}

.grid-2 {
  background-color: black;
  width: 900px;
  height: 720px;
  border: 5px solid whitesmoke;
  border-style: outset;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 8px;
  /* bord; */
  /* padding: 20px; */
  /* position: relative; */
  z-index: 5;
  /* top: 50%;
  left: 50%; */
  margin-bottom: -40px;
}

.grid-2 div {
  width: 18px;
  height: 18px;
  /* border:0.1px whitesmoke solid; */
  box-sizing:border-box;
}